{% extends 'useradmin/layout/index.html' %}
{% load static %}
{% block body_block %}
<html>
    <head>
        <title>temple details view</title>
    </head>
    <body>
        <center>
            <h1 class="about_taital">Temple  Details</h1>
            <div class="bulit_icon"><img src="{% static 'useradmin/images/bulit-icon.png' %}"></div>
            <br/>
            <table border="2">
                <tr>
                    <td>temp_id</td>
                    <td>name</td>
                    <td>address</td>
                    <td>time</td>
                    <td>contact</td>
                </tr>
                {% for j in data %}
                <tr>
                    <td>{{j.temp_id}}</td>
                    <td>{{j.name}}</td>
                    <td>{{j.address}}</td>
                    <td>{{j.time}}</td>
                    <td>{{j.contact}}</td>
                
               

                </tr>
                {% endfor %}
            </table>
        </center>
    </body>
</html>
{% endblock %}